<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

<body>
<div id="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navigation') %>


    <main style="
    margin-top: 20px;
">
        <%- body %>
    </main>

    <%- include('../footer') %>
</div>
</body>
</html>